<div class='container'>

  <h1> <%= @album.album_name %> </h1>


  <% if @album.user_id == current_user.id %>
  <p><a href='/albums/<%=@album.id%>/edit_album'>Edit Album</a></p>
  <br><br>
  <% end %>

  <div class="carousel">
    <ul class ="frames">
     <% @album.photos.each do |photo| %>
     <% if @album.photos.first == photo %>
     <li class="first active"> <img src="<%= photo.file.url %>" height="200" style="max-width: 400px"><br>
        <% if Like.find_by_user_id_and_photo_id(current_user.id,photo.id) %>  
          <a class="like" href="/albums/<%= @album.id %>/photo/<%= photo.id %>/dislike">Unlike</a> 
          <span class ='like_number'><%= photo.likes.length %></span></li>
        <% else %>
          <a class="like" href="/albums/<%= @album.id %>/photo/<%= photo.id %>">like</a> 
          <span class ='like_number'><%= photo.likes.length %></span></li>
          <% end %>
     <% else %>
     <li class="next"> <img src="<%= photo.file.url %>" height="200" style="max-width: 400px"><br>
      <% if Like.find_by_user_id_and_photo_id(current_user.id,photo.id) %>  
          <a class="like" href="/albums/<%= @album.id %>/photo/<%= photo.id %>/dislike">Unlike</a> 
          <span class ='like_number'><%= photo.likes.length %></span></li>
        <% else %>
          <a class="like" href="/albums/<%= @album.id %>/photo/<%= photo.id %>">like</a> 
          <span class ='like_number'><%= photo.likes.length %></span></li>
          <% end %>
     <% end %>
     <% end %>
   </ul>
 </div>

</div>

