<div class="container">
  <ul class="full_list">
    <% @albums.each do |album| %>
    <% if album.not_empty? && album.public? || (current_user && album.private? && album.user_id == current_user.id) %>
    <li>
      <% if current_user %>
      <a href="/albums/<%=album.id%>"><%= album.album_name %>, <%=User.find(album.user_id).username%></a>
      <% else %>
      <%= album.album_name %>, <%=User.find(album.user_id).username%></li>
      <% end %>
      <ul class="each_album">
        <% album.photos.each do |photo| %>
        <li id="<%=photo.id%>"><img src="<%= photo.file.thumb.url %>"><p><%= photo.likes.length%></p></li>
        <% end %>
      </ul>
      <% end %>
      <% end %>
    </ul>
  </div>


  <% if current_user %>
  Other Users:
  <ul>
    <% User.all.each do |user| %>
      <% if user.id != current_user.id %>
      <li><a href='/user/<%=user.id%>'> <%=user.username %> </a></li>
      <% end %>
    <% end %>
  </ul>
  <% end %>




